.app__users-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 8rem;
    width: 100%;
    padding-top: 3.5rem;
}

.app__users-title {
    color: rgb(255, 238, 218);
}

.app__users-filters-group {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem;
}

.app__users-search {
    border: 1px solid hsla(0, 0%, 65%, 0.6);
    outline: none;
}

.app__users-filters,
.app__users-buttons {
    padding: 0.3125rem 0.9375rem;
    border: 1px solid hsla(0, 0%, 65%, 0.6);
    border-radius: 0.3125rem;
    outline: none;
    font-size: 0.875rem;
    color: #333;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.app__users-filters:hover,
.app__users-buttons:hover {
    border-color: rgb(84, 121, 160);
    background-color: rgb(84, 121, 160, 0.2);
}

.app__users-buttons {
    margin-left: 0.625rem;
}

.app__users-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.app__users-thead {
    background-color: antiquewhite;
}

.app__users-thead th:first-child {
    border-top-left-radius: 5px;
}

.app__users-th,
.app__users-td {
    padding: 0.5rem;
    margin: 0.3125rem 0;
    border-bottom: 1px solid rgb(77, 77, 77, 0.5);
    border-top: 1px solid rgb(77, 77, 77, 0.5);
}

.app__users-admin,
.app__users-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.app__users-admin {
    color: rgb(62, 62, 202);
}

.app__users-customer {
    color: rgb(50, 158, 77);
}

.app__user-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.app__user-pagination button {
    padding: 0.3125rem 1.25rem;
    margin: 0 0.3125rem;
    font-size: 1rem;
}

.app__user-pagination button:disabled {
    color: #999;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .app__users-container {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }

    .app__users-th {
        display: none;
    }

    .app__users-filters-group,
    .app__users-search,
    .app__users-table,
    .app__users-td {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .app__user-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16rem;
    }

    .app__user-pagination button {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: -15rem;
    }

    .app__users-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .app__users-container {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
    }

    .app__users-th {
        display: none;
    }

    .app__users-filters-group,
    .app__users-search,
    .app__users-table,
    .app__users-td {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .app__user-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }

    .app__user-pagination button {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: -5rem;
    }

    .app__users-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}