.app__admin-layout {
    color: black;
    background: linear-gradient(106.37deg,
            #ffe1bc 29.63%,
            #ffcfd1 51.55%,
            #f3c6f1 90.85%);
    height: 90vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app__admin-inner {
    display: grid;
    height: 97%;
    width: 97%;
    background: rgba(187, 187, 187, 0.4);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    .app__admin-inner {
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {
    .app__admin-inner {
        grid-template-columns: 1fr;
    }
}