.about-us-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #2D3E50;
  color: #FFFFFF;
}

#about-us,
#our-philosophy,
#contact {
  background-color: #9EA5E4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1,
h2,
h3 {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #FFFFFF;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #F4C430;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #c59e28;
}

.popup-message {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a5068;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

@media (max-width: 768px) {
  .about-us-container {
    padding: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: calc(100% - 10px);
  }

  .popup-message {
    width: 70%;
    top: 10%;
  }
}