body {
  color: #000;
  background-color: #2D3E50;
  font-family: Arial, sans-serif;
}

.Auction-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.auction-card {
  width: 100%;
  max-width: 300px;
  background-color: #9EA5E4;
  border: 0px solid #F4C430;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.auction-card:hover {
  transform: scale(1.02);
}

.auction-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.auction-card button {
  background-color: #F4C430;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auction-card button:hover {
  background-color: #c59e28;
}

.searchdiv {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.auction-search {
  width: 100%;
  max-width: 50vw;
  height: 40px;
  background: #9EA5E4;
  outline: none;
  border-radius: 4px;
  padding-left: 10px;
}

.auction-search::placeholder {
  color: black;
  font-style: italic;
}

.sorting {
  background-color: #F4C430;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: 0px solid #F4C430;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.sorting:hover {
  background-color: #c59e28;
  cursor: pointer;
}

.sortingbuttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.pristag,
.tidtag {
  font-size: 20px;
  color: #F4C430;
  text-decoration: none;
  font-weight: bold;
}