body {
  background-color: #2D3E50;
  color: white;
  box-sizing: border-box;
  margin: 0;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homepage-slider {
  background-color: #9EA5E4;
  width: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.homepage-slider-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-slider-display>img {
  max-width: 100%;
  height: 20vh;
}

.homepage-slider-display>h2 {
  max-width: 100%;
}

.homepage-desc-and-revs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 4vw;
}

.homepage-reviews-container {
  max-width: 40vw;
  background-color: #9EA5E4;
  padding: 1vw;
  border-radius: 0.5vw;
  height: 100%;
  max-width: 40vw;
}

.homepage-reviews-title-score {
  display: flex;
}

.homepage-reviews-title {
  padding-right: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}

.homepage-reviews-score {
  margin-top: 0;
  margin-bottom: 0;
}

.homepage-description {
  background-color: #9EA5E4;
  padding: 1vw;
  border-radius: 0.5vw;
  max-width: 40vw;
}

.homepage-desc-and-revs>h2 {
  margin-top: 0;
  margin-bottom: 0;
}