.juridisk-container {
    background-color: #2D3E50;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 20px;
    color: white;
    padding-top: 20vh;
}

.juridisk-title {
    font-size: 4em;
    text-shadow: none;
    transition: none;
    color: white;
    cursor: default;
    background-color: #34475cd8;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.juridisk-title:hover {
    text-shadow: none;
    transition: none;
}

.juridisk-headliners {
    color: #9EA5E4;
}

.juridisk-p {
    margin: 10px 0;
    line-height: 1.8;
    font-weight: 200;
}

.juridiskt-sections {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1vh;
    border-radius: 10px;
}